.tabs {
  margin-bottom: 60px;

  background-color: #2d9cdb;

  .container {
    display: flex;
    align-items: stretch;

    i {
      font-size: 50px;
      margin-bottom: 10px;
    }

    .tabs_item {
      color: white;

      width: 33.33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 10px;

      transition: all 0.6s;

      &:hover {
        background-color: #2f80ed;
        cursor: pointer;
      }
    }

    .active {
      background-color: #2f80ed;
      border-bottom: 8px solid white;
    }
  }
}
