.tabs {
  background-color: #2d9cdb;

  .container {
    display: flex;
    align-items: stretch;

    i {
      font-size: 50px;
      margin-bottom: 10px;
    }

    .tabs_item {
      color: white;

      width: 33.33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding: 10px 0;

      transition: all 0.6s;

      &:hover {
        background-color: #2f80ed;
        cursor: pointer;
      }
    }

    .active {
      position: relative;
      background-color: #2f80ed;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        height: 8px;
        width: 100%;
        background-color: white;
      }
    }
  }
}
