@keyframes ldio-tex3fonxnso {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-tex3fonxnso div {
  position: absolute;
  animation: ldio-tex3fonxnso 1s linear infinite;
  width: 104.80000000000001px;
  height: 104.80000000000001px;
  top: 13.100000000000001px;
  left: 13.100000000000001px;
  border-radius: 50%;
  box-shadow: 0 2.62px 0 0 #2f80ed;
  transform-origin: 52.400000000000006px 53.71px;
}
.loadingio-spinner-eclipse-gu7ouvx1mka {
  margin: 0 auto;
  width: 131px;
  height: 131px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-tex3fonxnso {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-tex3fonxnso div {
  box-sizing: content-box;
}
